.button {
  @include B_3_M;
  border: 1px solid $--point-02;
  border-radius: 8px;
  color: $--point-02;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  gap: 10px;
  padding: 10px 16px;
  background-color: $--bg-white;

  &:hover {
    color: $--white;
    background-color: $--point-02;
  }
}
