.count-container {
  width: 100%;
  display: flex;
  margin-top: 30px;
  margin-bottom: 14px;
  gap: 30px;
  flex-direction: column;

  .count-wrapper {
    width: 100%;
    display: flex;
    gap: 20px;

    .count-box {
      flex: 1;
      padding: 30px;
      border: 1px solid $--border;
      background-color: $--white;
      border-radius: 8px;
      text-align: center;
      height: 92px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .title {
        @include H_3_M;
        color: $--point-02;
      }
      .result {
        @include H_2_SB;
        color: $--gray-03;
        display: flex;
        align-items: center;

        p {
          @include H_1_SB;
          color: $--gray-01;
          margin-right: 10px;
        }
      }
    }
  }

  .count-wrapper > .count-box:nth-child(3) {
    flex: 2;
  }

  .excel-container {
    display: flex;
    justify-content: space-between;
    align-items: end;

    .data-count {
      display: flex;
      @include B_1_M;
      color: $--gray-01;
      span {
        display: flex;
        p {
          margin-left: 10px;
          margin-right: 4px;
          color: $--point-02;
        }
      }
    }
  }
}
