@mixin flex($direction: row, $justify: center, $align: center, $gap: 0px) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

@mixin grid($repeat: 2, $size: 1fr, $gap: 0) {
  display: grid;
  grid-template-columns: repeat($repeat, $size);
  width: 100%;
  gap: $gap;
}

@mixin ellipsis($line: 1) {
  @if ($line == 1) {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  @if (1 < $line) {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
  }
}

@mixin maxCenter() {
  max-width: calc($--max-width + ($--max-width-paddingW * 2));
  width: 100%;
  padding-left: $--max-width-paddingW-m;
  padding-right: $--max-width-paddingW-m;
  margin: auto;

  @include tablet() {
    padding-left: $--max-width-paddingW;
    padding-right: $--max-width-paddingW;
  }
}

/* 반응형 */

@mixin mobile {
  @media (max-width: $--media-xs) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $--media-s) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: $--media-m) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: $--media-l) {
    @content;
  }
}

@mixin marginTop() {
  margin-top: 40px;
  @include laptop() {
    margin-top: 60px;
  }
}

@mixin inputBox {
  width: 100%;
  padding: 0 16px;
  border-radius: 8px;
  border: 1px solid $--border;
  background-color: #fff;

  &:focus {
    border-color: $--point-02;
  }

  &::placeholder {
    @include in-1-R;
    color: $--gray-04;
  }
}
