/** color **/
$--gray-01: #1d1e20;
$--gray-02: #414448;
$--gray-03: #757575;
$--gray-04: #9d9d9d;
$--white: #ffffff;

$--bg-gray: #f6f7f8;
$--bg-white: #ffffff;

$--border: #e6e8eb;

$--point-01: #471785;
$--point-02: #a671ea;
$--point-03: #f8f4fd;

$--red-01: #ff333f;
$--red-02: #fff3f4;

$--status-error: $--red-01;
$--modal-dimm: #000000b2;

/** size **/
$--menu-width: 280px;
$--header-height: 80px;

$--media-xs: 425px;
$--media-s: 768px;
$--media-m: 1024px;
$--media-l: 1440px;
