.input-container {
  width: 100%;
  height: 100%;

  input {
    width: 100%;
    height: 100%;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid $--border;
    color: $--gray-01;
    @include in_2_R;

    &:focus {
      border: 1px solid $--point-02;
    }
  }
}
